.App {
  text-align: center;
}

.User-name{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: aqua;
    font-weight: normal;
}
.User-profile{
  height: 200px;
  width: 200px;
  border-radius: 200px;
  object-fit: cover;
 
}
.User-change{
  font-weight: bold;
  color: brown;
  font-style: italic;
 
 
}